@tailwind base;
@tailwind components;
@tailwind utilities;

/* primary color     #1F1E24    Secondary color   #6556CD */
::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}

::-webkit-slider-thumb{
background: #141416 ;
border-radius: 10px;
}


select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance:none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: 0 !important;
    background: #27272a;
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: "Open Sans", "sans-serif";
}

select::-ms-expand {
    display: none;
}

.select{
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #27272a;
    overflow: hidden;
    border-radius:0.25em;
}

.select::after{
   content: "\25bc";
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #27272a;
   cursor: pointer;
   pointer-events: none;
   transition: 0.25s all ease; 
}

.select:hover::after{
    color: #6556CD;
}